#title{
  background-color:#ff4c68;
}

h1{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3rem;
}
body{
  font-family: 'Ubuntu', sans-serif;
}
.container-fluid{
  padding: 3% 15%;
}
